body{
    background-image: url("/images/bug-tracking-tools-scaled.jpeg");
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo-name{
    width: 100%;
    align-content: center;
    text-align: center;
    padding: 30px;
    font-size: 70px;
    font-weight: 700;
    color: #6675df;
}

.login-form {
    width: 500px;
    margin: 50px auto;
  	font-size: 15px;
    height: 75%;
}
.login-form form {
    margin-bottom: 15px;
    background: white;
    border-radius: 12px;
    padding: 40px;

}
.login-form h2 {
    margin: 0 0 15px;
    color: #2739bd;
}

.form-group{
    margin: 10px;
    align-content: center;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
    background-color: #6675df;
    border-color: #6675df;
    width: 100%;
    border-radius: 15px;
}

.btn:hover{
    background-color: #2739bd;
    
}

footer{
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: #4757d0;
    color: white;
    padding: 20px;
    bottom: 0;
    position: fixed;
    opacity: 0.6;
}

